---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---
    <Nav/>
    <!-- Hero -->
    <section id="hero">
      <!-- Flex Container -->
      <div
        class="container flex flex-col-reverse items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row">
        <!-- Left item -->
        <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
          <h1
            class="max-w-md text-4xl text-blue-300 font-bold text-center md:text-5xl md:text-left">
            Cursos gratis de Inteligencia artificial
          </h1>
          <p class="max-w-sm text-center text-gray-200 md:text-left">
            Top cursos gratis de grandes empresas como Microsoft, Google e IBM para personas con pocos o nulos
            conocimientos sobre IA
          </p>
          <div class="flex justify-center md:justify-start">
            <p
              class="p-3 px-6 pt-2 text-white bg-amber-500 rounded-full baseline"
              >¡Algunos incluyen Certificado</p>
              
           
            </div>
          </div>
          <div class="md:w-1/2 pb-10 text-white">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5657581973399276" crossorigin="anonymous"></script>
          </div>
      </div>
    </section>

    
    <!-- component -->
<!-- This is an example component -->
<div class='flex items-center justify-center min-h-screen  px-2'>
  <div class='w-full max-w-md  mx-auto bg-white rounded-3xl shadow-xl overflow-hidden'>
        <img src="img/microsoft.png" class='h-[236px]' style='background-size:cover;background-position:center'>
          </img>
        <div class='p-4 sm:p-6'>
          <p class='font-bold text-gray-700 text-[22px] leading-7 mb-1'>Microsoft Learn</p>
          <div class='flex flex-row'>
            <p class='text-[17px] font-bold text-[#0FB478]'>Gratis</p>
          </div>
          <p class='text-[#7C7C80] font-[15px] mt-6'>información para personas con conocimientos 
            básicos o nulos de informática y 
            estadística. Obtendrá información sobre algunos conceptos esenciales, 
            Python para entrenar, guardar y usar un modelo de aprendizaje automático de la misma manera 
            que en el mundo real.

          </p>


            <a target='_blank' href='https://learn.microsoft.com/es-es/training/modules/introduction-to-machine-learning/' class='block mt-10 w-full px-4 py-3 font-medium tracking-wide text-center capitalize transition-colors duration-300 transform bg-[#FFC933] rounded-[14px] hover:bg-[#FFC933DD] focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80 animate-bounce'>
                Visitar píagina web
            </a>
         
        </div>
      </div>
      
  </div>
</div>


<div class='flex items-center justify-center min-h-screen  px-2'>
  <div class='w-full max-w-md  mx-auto bg-white rounded-3xl shadow-xl overflow-hidden'>
        <img src="img/google.webp" class='h-[236px]' style='background-size:cover;background-position:center'>
          </img>
        <div class='p-4 sm:p-6'>
          <p class='font-bold text-gray-700 text-[22px] leading-7 mb-1'>Google Activate</p>
          <div class='flex flex-row'>
            <p class='text-[17px] font-bold text-[#0FB478]'>Gratis</p>
          </div>
          <p class='text-[#7C7C80] font-[15px] mt-6'>Esta guía introductoria ofrece una 
            serie de explicaciones sencillas y breves para que cualquier persona pueda entender qué es la IA, 
            cómo funciona y cómo está cambiando el mundo que nos rodea.

          </p>


            <a target='_blank' href='https://atozofai.withgoogle.com/intl/es/' class='block mt-10 w-full px-4 py-3 font-medium tracking-wide text-center capitalize transition-colors duration-300 transform bg-[#FFC933] rounded-[14px] hover:bg-[#FFC933DD] focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80 animate-bounce'>
                Visitar píagina web
            </a>
         
        </div>
      </div>
      
  </div>
</div>

<div class='flex items-center justify-center min-h-screen  px-2'>
  <div class='w-full max-w-md  mx-auto bg-white rounded-3xl shadow-xl overflow-hidden'>
        <img src="img/elements.webp" class='h-[236px]' style='background-size:cover;background-position:center'>
          </img>
        <div class='p-4 sm:p-6'>
          <p class='font-bold text-gray-700 text-[22px] leading-7 mb-1'>Elementos de la inteligencia artificial</p>
          <div class='flex flex-row'>
            <p class='text-[17px] font-bold text-[#0FB478]'>Gratis</p>
          </div>
          <p class='text-[#7C7C80] font-[15px] mt-6'>Elementos de la IA es una serie de cursos 
            gratuitos en línea creados por MinnaLearn y la Universidad de Helsinki. Queremos animar a
             un grupo de personas lo más amplio posible a aprender qué es la IA, qué se puede (y no se puede)
              hacer con la IA, y cómo empezar a crear métodos de IA.
          </p>


            <a target='_blank' href='https://www.elementsofai.com/es' class='block mt-10 w-full px-4 py-3 font-medium tracking-wide text-center capitalize transition-colors duration-300 transform bg-[#FFC933] rounded-[14px] hover:bg-[#FFC933DD] focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80 animate-bounce'>
                Visitar píagina web
            </a>
         
        </div>
      </div>
      
  </div>
</div>

<div class='flex items-center justify-center min-h-screen  px-2'>
  <div class='w-full max-w-md  mx-auto bg-white rounded-3xl shadow-xl overflow-hidden'>
        <img src="img/cognitive.png" class='h-[236px]' style='background-size:cover;background-position:center'>
          </img>
        <div class='p-4 sm:p-6'>
          <p class='font-bold text-gray-700 text-[22px] leading-7 mb-1'>Cognitive Class</p>
          <div class='flex flex-row'>
            <p class='text-[17px] font-bold text-[#0FB478]'>Gratis</p>
          </div>
          <p class='text-[#7C7C80] font-[15px] mt-6'>Aprende junto a más de 3 millones de usuarios como tú y lanza 
            tu carrera tecnológica con nuestros cursos sobre IA, ciencia de datos y otras tecnologías emergentes. 
            Obtén credenciales certificadas para demostrar tus habilidades profesionales.

          </p>


            <a target='_blank' href='https://cognitiveclass.ai/' class='block mt-10 w-full px-4 py-3 font-medium tracking-wide text-center capitalize transition-colors duration-300 transform bg-[#FFC933] rounded-[14px] hover:bg-[#FFC933DD] focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80 animate-bounce'>
                Visitar píagina web
            </a>
         
        </div>
      </div>
      
  </div>
</div>


    <Footer/>
  </body>
</html>
