---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---
<Nav/>
<style>
    @import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
</style>

<section class="container mx-auto mt-5 text-center">
    <ul class="flex flex-wrap text-white justify-center">
        Proximamente... <br>
        Página en proceso de Desarrollo
    </ul>  
</section>
<br><br><br><br><br>



<Footer/>