---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
---
<Nav/>
<section class="container mx-auto mt-5 text-center">
    <ul class="flex flex-wrap text-white justify-center">
        Proximamente... <br>
        Página en proceso de Desarrollo
    </ul>  
</section>
<br><br><br><br><br>
<Footer/>
